<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <!-- Parameters -->
    <param name="use_sim_time"            value="true"/>

    <!-- Input Topics -->
    <arg name="imu_topic_name"            default="/atnj1/imu/data_raw" />
    <arg name="gnss_left_topic_name"      default="/leica/position/rostime" />

    <!-- Config -->
    <arg name="extrinsics_from_urdf"      default="false" />
    <arg name="useLeftGnss"               default="true" />
    <arg name="useRightGnss"              default="false" />
    <arg name="useLioOdometry"            default="false" />

    <!-- Graph -->
    <include file="$(find leica_position_graph)/launch/graph_no_urdf.launch" pass_all_args="true"/>

    <!-- Static TF Publisher -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="atnj1_to_prism_tf_publisher" args="0.05513 -0.01502 -0.1503 0 0 0 atnj1 Prism" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="atnj1_to_imu_tf_publisher" args="0.0 0.0 0.0 1.5708 0 0 atnj1 imu" />
</launch>
